@import grid

$bg-color: rgb(230, 230, 230)
$dark-gray-color: #3d464d
$light-gray-color: #47525d
$beige-color: #828282
$blue-color: #3f8abf
$green-color: rgb(100, 206, 131)
$red-color: #e74c3c

body
  background: $bg-color
  color: #333
  font-family: 'Open Sans', sans-serif

  .column.full
    &:first-child
      text-align: center

.notice,
.alert
  display: inline-block
  margin: 10px
  padding: 10px
  color: white
  background: $blue-color
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  -ms-border-radius: 5px
  -o-border-radius: 5px
  border-radius: 5px

.alert
  background-color: $red-color

#logo
  display: block
  width: 300px
  margin: 0 auto

h1
  display: inline-block
  position: relative
  color: $beige-color
  font-size: 2.25em
  font-weight: 900
  text-transform: uppercase
  a
    text-decoration: none
    color: inherit

  em
    font-style: normal
    color: $dark-gray-color

  &:after
    content: "beta"
    text-transform: uppercase
    position: absolute
    top: -0.5em
    right: -2em
    font-size: 0.4em

h2
  font-weight: 600
  color: $beige-color

h3
  font-weight: 400
  font-size: 1em
  color: $dark-gray-color
  width: 50%
  margin: 0 auto

img
  width: 100%
  max-width: 100%
  height: auto

input[type='submit'],
button
  color: rgb(255, 255, 255)
  display: inline-block
  text-align: center
  font-weight: 700
  background: rgb(100, 206, 131)
  cursor: pointer
  text-decoration: none
  text-shadow: 0 1px 0px rgba(0, 0, 0, 0.15)
  border-width: 1px 1px 3px
  border-style: solid
  border-color: rgb(61, 194, 100)
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  -ms-border-radius: 5px
  -o-border-radius: 5px
  border-radius: 5px
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  -webkit-box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset
  -moz-box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset
  &.big
    padding: 21px 35px 19px
    margin: 40px 0
  &.green
    background-color: rgb(100, 206, 131)
    font-size: 1rem
  &.blue
    background-color: #3F8ABF
    -webkit-box-shadow: 0 4px 0 0 #2C6085
    -moz-box-shadow: 0 4px 0 0 #2c6085
    box-shadow: 0 4px 0 0 #2C6085
    border: none
    &:hover
      background-color: #4795CC
  &:hover
    background-color: rgb(61, 194, 100)
    color: rgb(255, 255, 255)

#waitlist-link
  text-decoration: none
  color: inherit

.dashboard#index
  nav
    position: relative
    margin-bottom: 5%

    h1
      position: absolute
      left: 0
      top: 0
      font-size: 1em
      &:after
        right: -2.5em

    #logo
      display: inline-block
      width: 50px
      margin: 0 auto

    #settings
      list-style: none
      margin: 10px 0
      padding: 0
      position: absolute
      right: 0
      top: 0

      > *
        display: inline-block

      #name
        vertical-align: 11px
        font-size: 12px
        font-weight: 700
        color: $beige-color

      #logout-btn
        position: absolute
        top: 1px
        right: 0

      #avatar
        width: 30px
        border-radius: 50%
        margin: 0 70px 0 5px
        border: 2px solid white

    #name,
    #avatar
      opacity: 1
      -webkit-transition: all 0.4s
      -moz-transition: all 0.4s
      transition: all 0.4s

  #keywords
    max-width: 40%
    list-style: none
    margin: 0 auto
    margin-top: 50px
    padding: 0

    li
      &.tag
        cursor: default
        border-radius: 4px
        background-color: $beige-color
        color: #FFF
        font-size: 1em
        font-weight: 700
        display: inline-block
        margin: 5px 2.5px
        overflow: hidden
        line-height: 15px
        padding: 6px 19px 8px 19px
        position: relative
        vertical-align: middle
        text-shadow: 0 1px 0px rgba(0, 0, 0, 0.15)
        -webkit-transition: 0.25s linear
        transition: 0.25s linear

        span
          margin-left: 5px

  form
    max-width: 33%
    margin: 0 auto
    margin-top: 50px

    input[type="submit"]
      padding: 15px 35px 15px
      margin: 15px 0
      font-size: 1rem
      background-color: #3F8ABF
      -webkit-box-shadow: 0 4px 0 0 #2C6085
      -moz-box-shadow: 0 4px 0 0 #2c6085
      box-shadow: 0 4px 0 0 #2C6085
      border: none
      &:hover
        background-color: #4795CC

    input[type="text"]
      color: #333
      border: 2px solid white
      background: white
      font-size: 1em
      font-weight: 400
      padding: 11px 15px 12px
      -webkit-border-radius: 5px
      -moz-border-radius: 5px
      -ms-border-radius: 5px
      -o-border-radius: 5px
      border-radius: 5px
      font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
      height: auto
      margin: 0
      outline: 0
      padding: 15px
      width: 100%
      -webkit-box-shadow: none
      -moz-box-shadow: none
      box-shadow: none
      -webkit-box-sizing: border-box
      -moz-box-sizing: border-box
      box-sizing: border-box
      -webkit-transition: 0.2s
      -moz-transition: 0.2s
      -o-transition: 0.2s
      transition: 0.2s
      text-align: center
      &:focus
        color: #333
        border: 2px solid $blue-color
        background: #FFF
        -webkit-border-radius: 5px
        -moz-border-radius: 5px
        -ms-border-radius: 5px
        -o-border-radius: 5px
        border-radius: 5px

    ::-webkit-input-placeholder
      color: $beige-color

    :-moz-placeholder
      color: $beige-color

    ::-moz-placeholder
      color: $beige-color

    :-ms-input-placeholder
      color: $beige-color

  #analytics
    list-style: none
    margin: 0
    padding: 0
    margin-bottom: 15px
    #keyword-count,
    #impression-count
      display: inline-block
      margin: 0 1.5em
      span
        display: block
        &:first-child
          color: $green-color
          font-weight: 900
          font-size: 6rem
          margin-bottom: -15px
        &:last-child
          color: $beige-color
          font-weight: 700
          font-size: 0.5rem
          text-transform: uppercase

.waitlist#index
  #waitlist
    list-style: none
    margin: 0
    padding: 0

    li
      a
        text-decoration: none
        color: $beige-color

@media screen and (max-width: 640px)
  h3
    width: 100%

  .dashboard#index
    nav
      h1
        display: block
        position: inherit
        margin: 0
        &:after
          display: none

      #name,
      #avatar
        opacity: 0!important

    #keywords,
    form
      max-width: 100%

    #keywords
      li
        width: 98%
        display: block
